<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - library</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/library.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/Home/Index">
                <i class="bi bi-house-door "></i><span class="d-none d-sm-inline ms-2">Home</span>
            </a>
            <partial name="_LoginPartial" />

            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">

                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link text-white" style="white-space:nowrap" href="/Dashboard/Index">
                                <i class="bi bi-speedometer "></i><span class="d-none d-sm-inline ms-2">Dasboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" style="white-space:nowrap" href="/Book/Index">
                                <i class="bi bi-book"></i><span class="d-none d-sm-inline ms-2">Book</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" style="white-space:nowrap" href="/Author/Index">
                                <i class="bi bi-person-add"></i><span class="d-none d-sm-inline ms-2">Author</span>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" style="white-space:nowrap" href="/BookLoan/Index">
                                <i class="bi bi-bank2"></i><span class="d-none d-sm-inline ms-2">Book Loan</span>
                            </a>

                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" style="white-space:nowrap" href="/Genre/Index">
                                <i class="bi bi-body-text"></i><span class="d-none d-sm-inline ms-2">Genre</span>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" style="white-space:nowrap" href="/Librarian/Index">
                                <i class="bi bi-person"></i><span class="d-none d-sm-inline ms-2">Librarian</span>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" style="white-space:nowrap" href="/LibraryBranch/Index">
                                <i class="bi bi-boxes"></i><span class="d-none d-sm-inline ms-2">Library Branch</span>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" style="white-space:nowrap" href="/Member/Index">
                                <i class="bi bi-person-check"></i><span class="d-none d-sm-inline ms-2">Member</span>
                            </a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </nav>
   
    @* <div class="container-fluid">
        <div class="row">

            <div class="col-2 col-sm-3 col-xl-2 bg-dark" style="height:100vh">
                <div class="">
                    <nav class="navbar bg-dark border-bottom border-white mb-3" data-bs-theme="dark">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="/Home/Index">
                                <i class="bi bi-house-door "></i><span class="d-none d-sm-inline ms-2">Home</span>
                            </a>
                        </div>
                    </nav>
                    <nav class="nav flex-column  navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 ">
                        <a class="nav-link text-white" style="white-space:nowrap" href="/Dashboard/Index">
                            <i class="bi bi-speedometer "></i><span class="d-none d-sm-inline ms-2">Dasboard</span>
                        </a>
                        <a class="nav-link text-white" style="white-space:nowrap" href="/Order/Create">
                            <i class="bi bi-cash-coin"></i><span class="d-none d-sm-inline ms-2">order</span>
                        </a>
                        <a class="nav-link text-white" style="white-space:nowrap" href="/Car/Index">
                            <i class="bi bi-grid"></i><span class="d-none d-sm-inline ms-2">product</span>
                        </a>
                        <a class="nav-link text-white" style="white-space:nowrap" href="/CarImage/Index">
                            <i class="bi bi-picture"></i><span class="d-none d-sm-inline ms-2">product Image</span>
                        </a>
                        <a class="nav-link text-white" style="white-space:nowrap" href="/Category/Index">
                            <i class="bi bi-boxes"></i><span class="d-none d-sm-inline ms-2">Catagory</span>
                        </a>
                        <a class="nav-link text-white" style="white-space:nowrap" href="/User/Index">
                            <i class="bi bi-person"></i><span class="d-none d-sm-inline ms-2">customer</span>
                        </a>
                        <a class="nav-link text-white" style="white-space:nowrap" href="/Inventory/Index">
                            <i class="bi bi-bag"></i><span class="d-none d-sm-inline ms-2">Inventory</span>
                        </a>
                        <a class="nav-link text-white" style="white-space:nowrap" href="/WishList/Index">
                            <i class="bi bi-clipboard2-check"></i><span class="d-none d-sm-inline ms-2">Wishlist</span>
                        </a>


                    </nav>
              </div>
            </div>
            <!-- Main Content Area -->
            <div class="col-10 col-sm-9 col-xl-10 p-0 my-0">

                <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
                    <div class="container-fluid">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <partial name="_LoginPartial" />
                            </li>
                            </ul>
                    </div>
                </nav>








            </div>
        </div>
    </div> *@

    <div class="container-fluid my-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
