@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager;


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-danger" asp-Controller="Account" asp-action="Logout">Logout</a>
        </li>
      
      
}

else
{
    <li class="nav-item">
            <a class="nav-link text-dark btn btn-success" asp-Controller="Account" asp-action="Login"><i class="bi bi-person"></i>Login</a>
    </li>
   
}
</ul>
